.alinhamento{
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    align-items: center;
    align-content: center;
}
.text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.text input{
    margin-left: 5px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.iconE{
    padding-left: 25px;
    background: url(../../images/mail.svg) no-repeat left;
    background-size: 20px;
}
.iconP{
    padding-left: 25px;
    background: url(../../images/lock.svg) no-repeat left;
    background-size: 20px;
}