.container{
    display: flex;
    align-items: stretch;
    align-content: center;
    margin-left: 15.125rem;
    gap: 0.9375rem;
}
.itens{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}