.alinhamento{
    font-family: Rubik;
    color: #FFFFFF;
    font-style: normal;
    letter-spacing: -0.02em;
    margin: 7.375rem 0rem 0rem 7.125rem;
}
.alinhamento h1{  
    font-weight: bold;
    font-size: 60px;
    line-height: 71px;
   
}
.alinhamento p{
   
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;  

}