.alinhamento{
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}
input {
    border: 1px solid #B5B1B2;
    border-radius: 12px;
    display: table;
    height: 34px;
    width: auto;
    padding-left: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.text input{
    border: 1px solid #B5B1B2;
    box-sizing: border-box;
    border-radius: 12px;
       
}
input {
    border: 1px solid #B5B1B2;
    border-radius: 12px;
    display: table;
    height: 34px;
    width: auto;
    padding-left: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
} 
input[type='email'] {
    width: 338px;
    box-sizing: border-box;
}
input[type='submit'] {
    margin-left: 24px;
    padding-left: 0%px;
    width: 290px;
    background: #0099FF;
    border-radius: 12px;
    padding-left: 0%;
    color: #fff;
}
input[type='submit']:hover{
    background: #078CE4;
}
.iconE{
    padding-left: 25px;
    background: url(../../images/mail.svg) no-repeat left;
    background-size: 20px;
}