.alinhamento{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    gap: 5px;
}
.text{
    
}
.text input{
    border: 1px solid #B5B1B2;
    box-sizing: border-box;
    border-radius: 12px;
    margin-left: 5px;
}